/*Header Section */

#header{
  font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
   display: inline-flex;

}
.logo{
  display: inline-flex;
}

.logo p{
  color: MediumAquamarine;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.navigation{
  display: inline-flex;
}

.navigation ul{
  display: inline-flex;
  list-style: none;
}

.navigation a{
  color: black;
  margin-right: 10px;
  position: relative;
  top: 20px;
  left: 700px;
}
