/*Header Section */
.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 100%;
  position: fixed;
}

.container{
  display: inline-flex;

}

.logo{
  color: MediumAquamarine;
  display: inline-flex;
  margin: 0px 0px 5px 20px;
}

.logo p{
  position: relative;
  top:5px;
  margin-left: 15px;

}

.navigation ul{
  display: inline-flex;
  list-style-type: none;
  position: relative;
  top: 5px;
  left: 700px;


}

.navigation li a{
  color: black;
  text-decoration: underline;
  margin-right: 10px;

}
